/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

&sk { quick-release; };

/ {
    chosen {
        zmk,physical_layout = &dao_crkbd_layout;

        // zmk,physical_layout = &dao_full_layout;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        caps {
            bindings = <&kp CAPS>;
            key-positions = <38 16 19>;
        };

        kp-t {
            bindings = <&kp T>;
            key-positions = <37 4>;
        };

        kp-g {
            bindings = <&kp G>;
            key-positions = <37 16>;
        };

        kp-b {
            bindings = <&kp B>;
            key-positions = <37 28>;
        };

        kp-y {
            bindings = <&kp Y>;
            key-positions = <37 7>;
        };

        kp-h {
            bindings = <&kp H>;
            key-positions = <37 19>;
        };

        kp-n {
            bindings = <&kp N>;
            key-positions = <37 31>;
        };

        kp-grave {
            bindings = <&kp GRAVE>;
            key-positions = <37 8>;
        };

        kp-backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <37 20>;
        };

        kp-quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <37 32>;
        };

        kp-minus {
            bindings = <&kp MINUS>;
            key-positions = <37 9>;
        };

        kp-9 {
            bindings = <&kp NUMBER_9>;
            key-positions = <37 21>;
        };

        kp-left-bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <37 33>;
        };

        kp-equal {
            bindings = <&kp EQUAL>;
            key-positions = <37 10>;
        };

        kp-0 {
            bindings = <&kp NUMBER_0>;
            key-positions = <37 22>;
        };

        kp-right-bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <37 34>;
        };

        kp-1 {
            bindings = <&kp NUMBER_1>;
            key-positions = <1 37>;
        };

        kp-2 {
            bindings = <&kp NUMBER_2>;
            key-positions = <2 37>;
        };

        kp-3 {
            bindings = <&kp NUMBER_3>;
            key-positions = <37 3>;
        };

        kp-4 {
            bindings = <&kp NUMBER_4>;
            key-positions = <37 13>;
        };

        kp-5 {
            bindings = <&kp NUMBER_5>;
            key-positions = <37 14>;
        };

        kp-6 {
            bindings = <&kp NUMBER_6>;
            key-positions = <37 15>;
        };

        kp-7 {
            bindings = <&kp NUMBER_7>;
            key-positions = <37 25>;
        };

        kp-8 {
            bindings = <&kp NUMBER_8>;
            key-positions = <37 26>;
        };

        kp-esc {
            bindings = <&kp ESCAPE>;
            key-positions = <40 13>;
        };

        kp-tab {
            bindings = <&kp TAB>;
            key-positions = <40 14>;
        };

        kp-space {
            bindings = <&kp SPACE>;
            key-positions = <40 15>;
        };

        kp-backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <40 16>;
        };

        kp-delete {
            bindings = <&kp DELETE>;
            key-positions = <40 4>;
        };

        kp-enter {
            bindings = <&kp ENTER>;
            key-positions = <40 28>;
        };

        sk-left-shift {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <38 16>;
        };

        sk-left-control {
            bindings = <&sk LEFT_CONTROL>;
            key-positions = <38 15>;
        };

        sk-left-command {
            bindings = <&sk LEFT_COMMAND>;
            key-positions = <38 14>;
        };

        sk-left-alt {
            bindings = <&sk LEFT_ALT>;
            key-positions = <38 13>;
        };

        sk-right-shift {
            bindings = <&sk RIGHT_SHIFT>;
            key-positions = <38 19>;
        };

        sk-right-control {
            bindings = <&sk RIGHT_CONTROL>;
            key-positions = <38 20>;
        };

        sk-right-command {
            bindings = <&sk RIGHT_COMMAND>;
            key-positions = <38 21>;
        };

        sk-right-alt {
            bindings = <&sk RIGHT_ALT>;
            key-positions = <38 22>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "MAIN";
            bindings = <
  &none  &kp Q  &kp W  &kp E  &kp R  &none    &none  &kp U  &kp I      &kp O    &kp P     &none
  &none  &kp A  &kp S  &kp D  &kp F  &none    &none  &kp J  &kp K      &kp L    &kp SEMI  &none
  &none  &kp Z  &kp X  &kp C  &kp V  &none    &none  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &none
                       &none  &none  &mo 2    &mo 3  &mo 4  &none
            >;
        };

        extra_layer {
            display-name = "SYMBOLS";
            bindings = <
  &none  &kp N1  &kp N2  &kp N3  &kp T   &none     &none   &kp Y   &kp GRAVE  &kp MINUS  &kp EQUAL  &none
  &none  &kp N4  &kp N5  &kp N6  &kp G   &none     &none   &kp H   &kp BSLH   &kp N9     &kp N0     &none
  &none  &kp N7  &kp N8  &none   &kp B   &none     &none   &kp N   &kp SQT    &kp LBKT   &kp RBKT   &none
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        mod_layer {
            bindings = <
  &none  &none     &none     &none      &none      &none     &none   &none      &none      &none     &none     &none
  &none  &kp LALT  &kp LGUI  &kp LCTRL  &kp LSHFT  &none     &none   &kp LSHFT  &kp LCTRL  &kp LGUI  &kp LALT  &none
  &none  &none     &none     &none      &none      &none     &none   &none      &none      &none     &none     &none
                             &trans     &trans     &trans    &trans  &trans     &trans
            >;
        };

        control_layer {
            display-name = "f-keys";
            bindings = <
  &none  &kp F1  &kp F2   &kp F3   &kp F4   &none     &none   &none     &none   &none  &none  &none
  &none  &kp F5  &kp F6   &kp F7   &kp F8   &none     &none   &kp LEFT  &none   &none  &none  &none
  &none  &kp F9  &kp F10  &kp F11  &kp F12  &none     &none   &mo 5     &none   &none  &none  &none
                          &trans   &trans   &trans    &trans  &trans    &trans
            >;
        };

        navigation_layer {
            display-name = "navigation";
            bindings = <
  &none  &none       &none    &none   &kp DEL        &none     &none   &none     &none   &none      &none  &none
  &none  &kp ESCAPE  &kp TAB  &none   &kp BACKSPACE  &none     &none   &kp DOWN  &kp UP  &kp RIGHT  &none  &none
  &none  &none       &none    &none   &kp ENTER      &none     &none   &none     &none   &none      &none  &none
                              &trans  &trans         &trans    &trans  &trans    &trans
            >;
        };

        adjust_layer {
            display-name = "ADJ";
            bindings = <
  &bootloader  &studio_unlock  &none         &none         &none         &none           &none         &none         &none         &none         &studio_unlock  &bootloader
  &bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &bt BT_CLR
  &sys_reset   &none           &none         &none         &kp A         &none           &none         &kp A         &none         &none         &none           &sys_reset
                                             &trans        &trans        &trans          &trans        &trans        &trans
            >;
        };
    };
};
